{% extends 'main.html' %}
{% block content %}
  <div class="user-register-form">
    <h2>Sign Up</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="button" type="submit">Поехали</button>
    </form>
  </div>
  <style>
    /*
                             * User Register Form Styles
                             */
    
    .user-register-form {
      /* Container styles */
      max-width: 400px;
      margin: 40px auto;
      padding: 20px;
      background-color: #f9f9f9;
      border: 1px solid #ddd;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .user-register-form label {
      /* Label styles */
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
      color: #333;
    }
    
    .user-register-form input[type='text'],
    .user-register-form input[type='email'],
    .user-register-form input[type='password'] {
      /* Input field styles */
      width: 80%;
      height: 20px;
      margin-bottom: 20px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    
    .user-register-form input[type='submit'] {
      /* Submit button styles */
      width: 100%;
      height: 20px;
      margin-top: 20px;
      padding: 10px;
      background-color: #4caf50;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    
    .user-register-form input[type='submit']:hover {
      /* Submit button hover styles */
      background-color: #3e8e41;
    }
  </style>
{% endblock %}
