{% extends 'main.html' %}
{% block content %}
  <div>
    <h2>ИНФОРМАЦИЯ ОБО МНЕ</h2>
    <ul>
      <li>
        <p>Меня зовут Демченко Анна Александровна.</p>
      </li>
      <li>
        <p>Я люблю филологию ещё со школьной скамьи, поэтому преподаю русский язык вот уже 17 лет и обучаю своих учеников и студентов качественно, доступно и наглядно! Русский язык изучать интересно и просто, когда понимаешь и когда понимают тебя!</p>
      </li>
      <li>
        <p>В 2005 году я окончила Армавирский государственный педагогический университет и получила квалификацию «Учитель русского языка и литературы».</p>
      </li>
      <li>
        <p>Моя увлеченность филологией настолько высока, что в 2009 году я защитила кандидатскую диссертацию, исследовав языковые особенности эпиграмм А.С.Пушкина и его современников.</p>
      </li>
      <li>
        <p>Все 17 лет я работала в сфере образования и получила необходимые навыки для работы с вами:</p>
        <ul>
          <li>
            <p>- в МБОУ гимназии No1 г.Армавира научилась понимать учеников, быть с ними на одной волне, а также учить требовательно и интересно;</p>
          </li>
          <li>
            <p>- в Армавирском государственном педагогическом университете освоила научный подход к преподаванию русского языка студентам – будущим учителям, была руководителем дипломных проектов, публиковала статьи, пособия и монографии;</p>
          </li>
          <li>
            <p>- в Институте развития образования Краснодарского края я учила школьных педагогов эффективным образовательным технологиям.</p>
          </li>
        </ul>
      </li>
      <li>
        <p>А сейчас я самозанятый репетитор и работаю с теми, кто любит русский язык и хочет быть успешным не только в учебе, но и в жизни.</p>
      </li>
    </ul>
  </div>
  <style></style>
{% endblock %}
