{% extends 'main.html' %}
{% block content %}
  <h2>Программа занятий</h2>

  <p>В программу занятий входит:</p>

  <ul>
    <li>Пропаботка БСЭХ произведений из кодификатора</li>
    <li>Проверка домашнего задания с подробным разбором каждой ошибки</li>
    <li>Проведение и проверка пробников в видео- и аудиоформате на настоящих бланках по всем критериям экзамена</li>
    <li>Упор на самый сложный критерий: речевые ошибки</li>
    <li>Марафоны по прочтению произведений</li>
  </ul>

  <p>Вы научитесь:</p>

  <ul>
    <li>Теории литературы</li>
    <li>Писать сочинения на максимум</li>
    <li>Анализировать лирику</li>
    <li>Читать книги, запоминая сюжетные линии и персонажей по особой методике</li>
  </ul>

  <p>Бонус: влюбитесь в литературу и получите заряд энергии и мотивации</p>

  <h2>Дистанционный формат обучения</h2>

  <p>Провожу индивидуальные и групповые занятия онлайн (на онлайн-платформе Skyре), с презентациями и графическим планшетом.</p>

  <p>.</p>
{% endblock %}
<style></style>
