{% extends 'main.html' %}
{% block content %}
  <div>
    <ul>
      <li>
        <b>Какой формат обучения мне подойдет?</b>
        <p>Если у тебя есть хорошая база знаний по русскому языку, то к экзамену лучше готовиться в группе единомышленников.</p>
      </li>
      <li>
        <b>Если мне нужно систематизировать материал за 1−9 классы?</b>
        <p>Жду тебя на индивидуальном обучении.</p>
      </li>
      <li>
        <b>Запишись на консультацию?</b>
        <p>И мы подберем оптимальный формат обучения.</p>
      </li>
      <li>
        <b>Являетесь ли вы региональным экспертом ЕГЭ?</b>
        <p>К сожалению, я сейчас не работаю в школе, поэтому не являюсь экспертом ОГЭ или ЕГЭ. Но я проходила индивидуальное обучение у действующего эксперта ЕГЭ и владею методикой оценки итогового сочинения и сочинения ЕГЭ.</p>
      </li>
      <li>
        <b>Какая формула достижения успеха у ваших учеников?</b>
        <p>Мотивация + скрытый потенциал + совместная работа на результат + понимание цели = 100 баллов на ЕГЭ по русскому языку и поступление на бюджет в вуз мечты</p>
      </li>
    </ul>
  </div>
{% endblock %}
