<div class="box">
  <dt class="panel-heading__title panel-heading__title_underline">Самое интересное за 24 часа</dt>
  <hr />
  <dd class="panel-heading__content panel-heading__content_inner">
    <ul class="content-list content-list_sidebar-block">
      <li class="content-list__item">
        <a class="question__title-link question__title_thin" href="https://qna.habr.com/q/1355448" data-from="?from=questions_most">Возврат собственного типа ошибки из main с печатью сообщения об ошибке?</a>
        <ul class="inline-list inline-list_meta-attrs"></ul>
      </li>
      <hr />
      <li class="content-list__item">
        <a class="question__title-link question__title_thin" href="https://qna.habr.com/q/1355440" data-from="?from=questions_most">Как в установщик Kubuntu 24_04 (calamares), вшить пользователя?</a>
        <ul class="inline-list inline-list_meta-attrs"></ul>
      </li>
      <hr />
      <li class="content-list__item">
        <a class="question__title-link question__title_thin" href="https://qna.habr.com/q/1355414" data-from="?from=questions_most">На Windows 11 браузеры на основе chromium блокируют скачивание любых файлов помечая их как заражённые вирусом, как исправить?</a>
        <ul class="inline-list inline-list_meta-attrs"></ul>
      </li>
      <hr />
      <li class="content-list__item">
        <a class="question__title-link question__title_thin has_solution" href="https://qna.habr.com/q/1355374" data-from="?from=questions_most">Какие есть инструменты для написания интерфейса для терминала?</a>
        <ul class="inline-list inline-list_meta-attrs"></ul>
      </li>
      <hr />
      <li class="content-list__item">
        <a class="question__title-link question__title_thin" href="https://qna.habr.com/q/1355334" data-from="?from=questions_most">Как запускаются потоки в группах на gpu, какие есть гарантии, может ли поток из другой группы запустится раньше времени?</a>
        <ul class="inline-list inline-list_meta-attrs"></ul>
      </li>
      <hr />
      <li class="content-list__item">
        <a class="question__title-link question__title_thin" href="https://qna.habr.com/q/1355388" data-from="?from=questions_most">Как вывести сообщение об ошибки в интерфейсе Элемента CRM при сохранении?</a>
      </li>
      <hr />
      <li class="content-list__item">
        <a class="question__title-link question__title_thin" href="https://qna.habr.com/q/1355360" data-from="?from=questions_most">Откуда берется эта prt запись?</a>
        <ul class="inline-list inline-list_meta-attrs"></ul>
      </li>
      <hr />
      <li class="content-list__item">
        <a class="question__title-link question__title_thin" href="https://qna.habr.com/q/1355354" data-from="?from=questions_most">При установке ОС по сети не могу достучаться к tftp, как добавить дебаг вывода в консоль?</a>
      </li>
      <hr />
      <li class="content-list__item">
        <a class="question__title-link question__title_thin" href="https://qna.habr.com/q/1355350" data-from="?from=questions_most">Как итерировать асинхронный генератор, который уже находится в работе?</a>
      </li>
      <hr />
      <li class="content-list__item">
        <a class="question__title-link question__title_thin has_solution" href="https://qna.habr.com/q/1355326" data-from="?from=questions_most">Как скачать весь сайт из интернета целиком для просмотра оффлайн на Windows?</a>
      </li>
    </ul>
  </dd>
</div>
<a href="{% url 'pars_up' %}"><button>pars_up</button></a>

<style>
  .panel-heading__title {
    margin-bottom: 20px;
    font-size: 20px;
  }
  .content-list__item {
    margin: 10px 0 10px 10px;
  }
  .box {
    height: fit-content;
    padding: 20px;
  }
</style>
