{% for quest in user_question %}
  <div>
    {% if request.user == quest.autor %}
      <div class="del_upd">
        <div class="quest_div">
          <div class="question-container">
            <hr class="hr" />
            <div>
              <p class="teg">{{ quest.tegs }}</p>
            </div>
            <div class="title">
              <a href="{% url 'question' quest.id %}"><h3>{{ quest.title }}</h3></a>
            </div>
            <div class="question">{{ quest.text }}</div>
            <div class="create">Создано {{ quest.created_at|timesince }} назад</div>
            <hr />
          </div>
          <div class="button_del_up">
            <div>
              <a href="{% url 'question_update' quest.id %}"><button class="up">Редактировать</button></a>
            </div>
            <div>
              <a href="{% url 'question_delete' quest.id %}"><button class="up">Удалить</button></a>
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <div class="quest_div">
        <div class="question-container">
          <hr class="hr" />
          <div>
            <p class="teg">{{ quest.tegs }}</p>
          </div>
          <div class="title">
            <a href="{% url 'question' quest.id %}"><h3>{{ quest.title }}</h3></a>
          </div>
          <div class="question">{{ quest.text }}</div>
          <div class="create">Создано {{ quest.created_at|timesince }} назад</div>
          <hr />
        </div>
      </div>
    {% endif %}
  </div>
  <hr />
{% endfor %}

<style>
  .button_del_up {
    margin: 5px 0 2px 0;
    padding: 0.2em;
    width: 80%;
    display: flex;
    justify-content: space-around;
  }
  .up {
    display: flex;
    padding: 0.5em;
  
    font-size: 0.5em;
  }
  .create {
    margin: 5px 0 2px 0;
    font-size: 15px;
    color: cadetblue;
  }
  .del_upd {
    flex-direction: column;
    align-items: baseline;
  }
  .question {
    padding: 0.5em;
    width: 70%%;
    white-space: pre-wrap;
  }
  .quest_div {
    padding: 10px;
    border-radius: 5px;
    margin: 0.5em;
    width: 80%;
    min-height: 50px;
    height: fit-content;
    background-color: silver;
  }
</style>
