{% extends 'main.html' %}
{% block content %}
  <h2>Контакты</h2>

  <div class="contact-info">
    <p>
      <strong>Телефон:</strong> : +7 (918) 966-58-44
    </p>
    <p>
      <strong>Email:</strong> <a href="mailto:info@example.ru">annademchenko83@yandex.ru</a>
    </p>
    <p>
      <strong>Адрес:</strong> г. Краснодар, ул.Яна Полуяна, 39.<a href="https://www.family-name.ru/" target="_blank">Центр дополнительного образования «Family Name»</a> (очные занятия и консультации)
    </p>
    <p>
      <strong>Время работы:</strong> Пн-Пт, 10:00-18:00
    </p>
  </div>

  <div class="social-links">
    <ul>
      <li>
        <a href="https://t.me/anna_a_demchenko" target="_blank"><i class="fab fa-vk"></i> <img src="/static/telega.png" width="50" /></a>
        {% comment %} <a href="https://t.me/anna_a_demchenko" target="_blank"><i class="fab fa-vk"></i> Для связи в Telegram</a> {% endcomment %}
      </li>
      <li>
        <a href="https://www.youtube.com/channel/UCmcOyESoBmBP7ajsyH1OC3w" target="_blank"><i class="youtube"></i><img src="/static/youtube.png" width="50" /></a>
      </li>
      <li>
        <div class="li">
          <div>
            <a href="https://t.me/lublu_russkij" target="_blank"><i class="lublu_russkij"></i> <img src="/static/telega.png" width="50" /></a>
          </div>
          <div class="li-2">Канал</div>
        </div>
      </li>
      <li>
        <a href="#" target="_blank"><i class="youtube"></i> <img src="/static/vk.png" width="50" /></a>
      </li>
      <li>
        <a href="#" target="_blank"><i class="youtube"></i> <img src="/static/dzen.png" width="50" /></a>
      </li>
    </ul>
    <div class="map">
      <iframe src="https://www.google.com/maps/embed?v=3&q=55.7558,37.6173&z=27" width="100%" height="60%"></iframe>
    </div>
  </div>

  <style>
    .map {
      margin: 20px 0 0 40px;
    }
    .social-links {
      display: flex;
    }
    a {
      text-decoration: none !important;
    }
    .li {
      display: flex;
      align-items: center;
    }
    ul {
      list-style-type: none;
    }
    .social-links,
    .contact-info a {
      color: #007bff;
      text-decoration: none !; /* Убирает подчеркивание по умолчанию */
      /* Добавляет нижнюю границу */
      transition: color 0.7s, border-bottom 0.3s; /* Плавный переход */
    }
    .social-links,
    .contact-info a:hover {
      color: #0056b3;
      text-decoration: underline; /* Подчеркивание при наведении */
      /* Подчеркивание цветом при наведении */
    }
  </style>
{% endblock %}
{% comment %} {% endcomment %}
