{% extends 'main.html' %}
{% block content %}
  {% comment %} <div class="conteiner">
    {% for img in education_photo %}
      <div class="image-block">
        <img src="{{ img }}" alt="" width="200" />
      </div>
    {% endfor %}
  </div>
  <style>
    .conteiner {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  </style> {% endcomment %}
  <div class="container_img">
    {% for img in education_photo %}
      <div class="image-block">
        <img src="{{ img }}" width="200" alt="" />
      </div>
    {% endfor %}
  </div>
  <style>
    .container_img {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
    .image-block {
      width: 30vh;
      transition: transform 0.5s; /* добавляем переход для элементов */
    
      text-align: center;
    }
    
    .image-block img {
      width: 80%;
      height: 80%;
      object-fit: cover;
      border-radius: 20px;
      transition: transform 0.5s;
    }
    
    .image-block img:hover {
      transform: scale(2.5) translateX(0%) translateY(0%); /* увеличиваем и центрируем элемент */
      z-index: 1; /* чтобы элемент был над другими */
    }
    
    /* On screens smaller than 768px */
    @media (max-width: 768px) {
      .image-block img:hover {
        transform: scale(2.5) translateX(10%) translateY(0%); /* увеличиваем и центрируем элемент */
        z-index: 1;
      }
    }
    
    /* On screens smaller than 480px */
    @media (max-width: 480px) {
      .container_img {
        display: block;
      }
      .image-block img:hover {
        transform: scale(2.5) translateX(10%) translateY(0%); /* увеличиваем и центрируем элемент */
        z-index: 1;
      }
    }
  </style>
{% endblock %}
