{% extends 'main.html' %}
{% block content %}
  <div>
    <h2>КАК ПРОХОДИТ ОБУЧЕНИЕ?</h2>
    <ol>
      <li>
        <p>До первого занятия я предлагаю пройти тест-диагностику, чтобы определить уровень подготовки ученика. Диагностика нужна также для того, чтобы определить, какой формат обучения будет оптимальным.</p>
      </li>
      <li>
        <p>На первом занятии я знакомлюсь с каждым учеником: мы анализируем результаты теста-диагностики, работаем с текстом, проверяем коммуникативные навыки, выявляем желание добиться высоких результатов на экзаменах (не только по русскому языку). Если мы подходим друг другу, заключаем договор с родителями, а с учеником составляем расписание и начинаем учиться!</p>
      </li>
      <li>
        <p>Использую только материалы учебников, соответствующих обновленным ФГОС, и задания из реальных ЕГЭ и банка ФИПИ.</p>
      </li>
      <li>
        <p>Для проведения занятий использую интерактивные презентации и рабочие тетради с конспектами (весь теоретический материал всегда под рукой у ученика в электронном и печатном виде). Дополнительные учебники или пособия покупать для занятий не требуется.</p>
      </li>
      <li>
        <p>Домашнее задание (тестовая часть) выполняется в удобном приложении Google Формы на компьютере или телефоне. Сочинения мы пишем по плану и совместно корректируем в приложении Google Документы.</p>
      </li>
      <li>
        <p>Я лично проверяю работы учеников. Каждый месяц пишем пробник ОГЭ/ЕГЭ и проводим устные зачеты по теории для каждого ученика.</p>
      </li>
      <li>
        <p>Я предлагаю много форматов обучения: помимо занятий в мини-группах и индивидуальных, вы можете пройти индивидуальный курс в записи от 150 руб. за занятие. На любом формате обучения всегда можно получить личную консультацию от меня. Также провожу бесплатные вебинары в Zoom, о которых предварительно информирую в телеграм-канале и сообществе ВКонтакте.</p>
      </li>
      <li>
        <p>Я достаточно требовательно отношусь к занятиям и выполнению домашнего задания. Главное, чтобы ученик посещал все занятия (без опозданий, переносов и отмен), учил правила, активно работал на уроке, выполнял домашние задания и сдавал их в срок. Дисциплина – залог успеха.</p>
      </li>
      <p>С удовольствием проконсультирую Вас и помогу подобрать удобный формат обучения.</p>
    </ol>
  </div>
{% endblock %}
