<body>
  <div>
    <img class="widget-img" src="/static/main.jpg" width="400" />
    <a href="https://www.example.com" class="image-link-overlay"></a>
    <a href="https://www.example.com" class="image-link-overlay"></a>
    <a href="https://www.example.com" class="image-link-overlay"></a>
  </div>
</body>

<script></script>
<style>
  img {
    width: 50vw;
    height: 95vh;
  }
  
  /* On screens smaller than 768px */
  @media (max-width: 768px) {
    img {
      width: 50vw;
      height: 100vh;
    }
  }
  
  /* On screens smaller than 480px */
  @media (max-width: 480px) {
    img {
      width: 100vw;
      height: 100vh;
    }
  }
</style>
