{% extends 'main.html' %}
{% block content %}
  <div class="index_">
    <img id="photo-Anna" src="/static/photo_anna_main.jpg" alt="" width="400" />
    <div class="text_">
      <p>Здравствуйте! Я репетитор по русскому языку Демченко Анна Александровна.</p>
      <p>Люблю филологию ещё со школьной скамьи, поэтому преподаю русский язык вот уже 20 лет и обучаю своих учеников и студентов качественно, доступно и наглядно! Специализируюсь на подготовке к ОГЭ и ЕГЭ, а также работаю с одаренными школьниками, участвующими в олимпиадах (ВСОШ, Высшая проба).</p>
      <p>Русский язык изучать интересно и просто, когда понимаешь и когда понимают тебя!</p>
    </div>
  </div>
  <style>
    body {
      font-family: Arial, sans-serif; /* Используем Arial как основной шрифт */
    }
    img {
    }
    .index_ {
      padding: 5vh;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    
    #photo-Anna {
      width: 400px; /* set the image width to 150px */
      height: auto; /* maintain the aspect ratio */
      border-radius: 25px;
      margin: 10px;
    }
    
    .text_ {
      padding: 20px;
    }
    @media (max-width: 1000px) {
      #photo-Anna {
        width: 100%; /* set the image width to 150px */
        height: auto;
      }
      .index_ {
        flex-direction: column; /* switch to column layout on smaller screens */
      }
    }
    /* add media query for smaller screens */
    @media (max-width: 940px) {
      .text_ {
        padding: 20px;
      }
      .index_ {
        flex-direction: column; /* switch to column layout on smaller screens */
      }
      #photo-Anna {
        width: 100%; /* set the image width to 100% of its parent container on smaller screens */
        height: auto;
        margin: 10px auto; /* center the image horizontally */
      }
      .text_ {
        padding: 10px;
      }
    }
  </style>
{% endblock %}
