{% extends 'main.html' %}
{% block content %}
  <h3>Список материалов</h3>
  <ul>
    {% for pdf in pdf_list %}
      <li>
        <div id="li">
          <h4><a href="{{ pdf.pdf_file.url }}">{{ pdf.name }}</a></h4>
          {% comment %} <a href="{{ MEDIA_URL }}document_pdf/Primer_dogovora.pdf">Скачать PDF</a> {% endcomment %}
        </div>
      </li>
    {% empty %}
      <li>Нет материалов</li>
    {% endfor %}
  </ul>
  <style>
    a {
      color: blue;
      text-decoration: underline;
    }
    a:hover {
      color: darkblue;
    }
  </style>
{% endblock %}

<!-- Список файлов -->
{% comment %} <ul>
  {% for file in files %}
    <li>
      <a href="#" onclick="showFile('{{ file.name }}')">{{ file.name }}</a>
    </li>
  {% endfor %}
</ul> {% endcomment %}

<!-- Блок для отображения файла -->
{% comment %} <div id="file-block"></div>

<!-- Кнопка скачивания файла -->
<a href="{{ pdf.pdf_file.url }}" target="_blank">Скачать</a>

<!-- JavaScript код -->
<script>
  function showFile(fileName) {
    // код для отображения файла в блоке #file-block
    document.getElementById('file-block').innerHTML = 'Файл' + fileName + 'тображается здесь'
  }
</script> {% endcomment %}
