{% extends 'main.html' %}
{% block content %}
  <!DOCTYPE html>
  <html>
    <body>
      <div>
        <h2>Формат обучения и цены</h2>
        <h3>Индивидуальный дистанционный формат</h3>
        <ul>
          <li>
            <p>ОГЭ по русскому языку: 2500 р / 60 минут</p>
          </li>
          <li>
            <p>ЕГЭ по русскому языку: 2500 р / 60 минут</p>
          </li>
        </ul>

        <h3>Мини-группа (4 человека), офлайн-обучение</h3>
        <p>
          Адрес: г.Краснодар, ул.Яна Полуяна, 39. <a href="https://www.family-name.ru/">Центр дополнительного образования «Family Name»</a>
        </p>
        <ul>
          <li>
            <p>ОГЭ по русскому языку (офлайн)</p>
            <ul>
              <li>Расписание занятий группы:</li>
              <li>— понедельник 16:00 — 17:00</li>
              <li>— суббота 15:00 — 16:00</li>
              <li>Стоимость абонемента на 1 месяц — 6400₽.</li>
            </ul>
          </li>
          <li>
            <p>ЕГЭ по русскому языку (офлайн)</p>
            <ul>
              <li>Расписание занятий группы:</li>
              <li>— понедельник 17:15 — 18:15</li>
              <li>— суббота 16:15 — 17:15</li>
              <li>Стоимость абонемента на 1 месяц — 6400₽.</li>
            </ul>
          </li>
        </ul>

        <h3>Мини-группа (4-6 человек), онлайн-обучение на платформе Zoom</h3>
        <ul>
          <li>
            <p>ОГЭ по русскому языку (онлайн)</p>
            <ul>
              <li>Расписание занятий:</li>
              <li>— вторник 17:00 — 18:00</li>
              <li>— четверг 17:00 — 18:00</li>
              <li>Стоимость абонемента на 1 месяц — 6400₽.</li>
            </ul>
          </li>
          <li>
            <p>ЕГЭ по русскому языку (онлайн)</p>
            <ul>
              <li>Расписание занятий:</li>
              <li>— среда 17:00 — 18:00</li>
              <li>— пятница 17:00 — 18:00</li>
              <li>Стоимость абонемента на 1 месяц — 6400₽.</li>
            </ul>
          </li>
        </ul>
      </div>
    </body>
  </html>
{% endblock %}
