<!-- reviews.html -->

{% extends 'main.html' %}

{% block content %}
  <h2>Отзывы</h2>

  {% if reviews %}
    <ul>
      {% for review in reviews %}
        <li>
          <h3>{{ review.rating }} из 5</h3>
          <p>{{ review.text }}</p>
          <p>Отзыв оставлен {{ review.user.username }} {{ review.created_at|date:'d.m.Y H:i' }}</p>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <h2>Нет отзывов</h2>
  {% endif %}

  {% if user.is_authenticated %}
    <h2>Оставить отзыв</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Отправить</button>
    </form>
  {% endif %}
{% endblock %}
